@import url("https://cdn.jsdelivr.net/gh/necolas/normalize.css@master/normalize.css");
@font-face {
  font-family: "Fira Code";
  src: url("firacode.woff") format("woff");
}
:root {
  --background: #282a36;
  --color: #ff5555;
  --font-family: Fira Code;
}
body {
  box-sizing: border-box;
  background: var(--background);
  color: var(--color);
  font-family: var(--font-family);
}
.header {
  width: 100vw;
  border-bottom: 2px dashed var(--color);
}
h1 {
  margin: 15px;
}
.nav {
  list-style-type: none;
  margin-top: 25px;
}
.nav .nav-item {
  display: inline-block;
  margin-left: 10px;
}
.nav .nav-item a {
  color: #bd93f9;
  text-decoration: none;
}
.main {
  width: 100vw;
  border-bottom: 1px solid #bd93f9;
}
.about {
  width: 100vw;
}
h2 {
  margin: 15px;
  color: #fff;
  background: linear-gradient(to left bottom, #ff79c6, #ffb86c);
  width: 130px;
  padding: 5px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
p {
  margin: 15px;
  text-align: left;
  color: #fff;
  line-height: 2em;
}
.skills,
li,
h3 {
  color: #fff;
  list-style-type: none;
}
.skills li {
  margin: 15px;
}
.dir {
  color: #6272a4;
}
.contact {
  padding: 15px;
}

/* Form styles */
#form {
  background-color: #282a36;
  color: #f8f8f2;
  font-family: "Ubuntu Mono", monospace;
  padding: 20px;
  width: 290px;
  margin: 15px;
  border: 2px solid #bd93f9;
  border-radius: 5px;
  margin-bottom: 30px;
}

input[type="text"],
input[type="email"],
textarea {
  background-color: #282a36;
  color: #f8f8f2;
  border: 1px solid #bd93f9;
  font-family: "Ubuntu Mono", monospace;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 10px;
  width: 260px;
  outline: none;
}

input[type="submit"] {
  background-color: #bd93f9;
  color: #282a36;
  cursor: pointer;
  font-family: "Ubuntu Mono", monospace;
  font-size: 16px;
  padding: 10px 20px;
  text-transform: uppercase;
  border: none;
  outline: none;
}

/* Placeholder styles */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #6272a4;
  opacity: 0.5;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #6272a4;
  opacity: 0.5;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #6272a4;
  opacity: 0.5;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #6272a4;
  opacity: 0.5;
}
.footer {
  background-color: #282a36;
  color: #f8f8f2;
  font-family: "Ubuntu Mono", monospace;
  bottom: 0;
  padding: 15px;
}

.prompt {
  display: inline-block;
  color: #bd93f9;
  margin-right: 10px;
}

.command {
  display: inline-block;
  color: #f1fa8c;
}

.output {
  margin-top: 10px;
  color: #f8f8f2;
}
.output li {
  list-style: number;
  margin-top: 10px;
  margin-left: 20px;
}
.output li a {
  color: #f993f8;
  text-decoration: none;
}
.projects h2 {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin: 15px;
}

.projects ul {
  padding: 0;
  margin: 15px;
}

.projects li {
  margin-bottom: 10px;
  list-style-type: number;
  margin-left: 30px;
}

.projects a {
  color: #a693f9;
  text-decoration: none;
}

.projects a:hover {
  color: #f1fa8c;
}
